# Configuration for PHPStan
# https://phpstan.org/config-reference

includes:
	# @see https://github.com/phpstan/phpstan-src/blob/master/conf/bleedingEdge.neon
	- phar://phpstan.phar/conf/bleedingEdge.neon
	# Include this extension
	- vendor/szepeviktor/phpstan-wordpress/extension.neon

parameters:
	tmpDir: phpstan-cache
	parallel:
		jobSize: 10
		maximumNumberOfProcesses: 10
		minimumNumberOfJobsPerProcess: 2
		processTimeout: 600.0
	level: max
	reportUnmatchedIgnoredErrors: false
	ignoreErrors:
		- identifier: cast.string
		- identifier: cast.int
	scanDirectories:
		- vendor
	paths:
		- migrations.php
		- src
	excludePaths:
		analyseAndScan:
			- vendor/lucatume/wp-browser/includes/core-phpunit/includes/object-cache.php
			- vendor/lucatume/wp-browser/includes/pluggables
			- '**/node_modules/**'
